{% extends 'core/base.html' %}

{% block title %}{{ category.name }} - Auctions{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ category.name }}</h2>
    <div class="row">
        {% for auction in auctions %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ auction.photo.url }}" class="card-img-top" alt="{{ auction.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ auction.name }}</h5>
                        <p class="card-text">
                            Current Price: ${{ auction.current_price }}<br>
                            Ends: {{ auction.end_time|timeuntil }}
                        </p>
                        <a href="{{ auction.get_absolute_url }}" class="btn btn-primary">View Auction</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No auctions available in this category.</p>
        {% endfor %}
    </div>

    <a href="{% url 'auction:auction_list' %}" class="btn btn-secondary mt-3">Back to Auctions</a>
</div>
{% endblock %}
