{% extends 'base.html' %}

{% block content %}
<h2>Daily Quiz</h2>
<form method="post">
    {% csrf_token %}
    {% for question in quiz.questions %}
        <div class="question">
            <p>{{ forloop.counter }}. {{ question.question }}</p>
            {% for option in question.options %}
                <label>
                    <input type="radio" name="question_{{ forloop.parentloop.counter0 }}" value="{{ option }}">
                    {{ option }}
                </label><br>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Submit Quiz</button>
</form>
{% endblock %}
